 	div.bar {
		padding-bottom:​ 0px;​
		vertical-align:​ middle;​
		left:​ 0px;​
		top:​ 0px;​
		height:​ 30px;​
		position:​ absolute;
		background-color: #3F3F3F;
		display: inline-block;
		overflow: hidden;
	}
	
	div.initclosed {
		initClosed:            true
	}
	
	div.nopad {
		padding: 0;
		overflow: auto;
	}


<!-- FONTS -->

	.highlight {
		color: lightblue;
		font-size: 1em;
	}
	
	.helioslight {
		color: #e4c953;
		font-size: 1.5em;		
		font-weight: bold;
		font-family: Verdana,Arial,sans-serif;
	}
	
	.tool-widget {
	    font-family: Verdana,Arial,sans-serif;
	    font-size: 1.1em;
	    color: white;		
	    height: 2em;	  
	    padding-right: 20px;  
	}

	a {
		color: lightblue;
	}
	
	#top-body {
    	font-size: 10px;
    	font-family: Verdana,Arial,sans-serif;
	}
	
	#metricDisplayGrid {
		overflow: hidden;
	}

<!-- -->

<!--  ON-LINE / OFF-LINE -->
	.csubscriber-on {
		background-image: url("../img/green-light-16X16.png");
		background-repeat: no-repeat;
		width: 16px; 
		height: 16px;
		margin: 0;
		padding: 0;
		display: inline-block;
	}
	
	.csubscriber-off {
		background-image: url("../img/red-light-16X16.png");
		background-repeat: no-repeat;
		width: 16px; 
		height: 16px;
		margin: 0;
		padding: 0;
		display: inline-block;
	}

	.csubscriber-retry {
		background-image: url("../img/amber-light-16X16.png");
		background-repeat: no-repeat;
		width: 16px; 
		height: 16px;
		margin: 0;
		padding: 0;
		display: inline-block;		
	}
<!-- ===================================================== -->

      div.column1 {
        position: absolute; /* Pulls it out of the normal flow */
        left: 0px;          /* Places it on the top-left       */
        top: 45px;
        width: 300px;       /* Width is exactly 300px          */
        height: 380%;
        overflow: auto;
				border-bottom: 2px solid #e5eff8;
				border-top: 2px solid #e5eff8;
				border-left: 2px solid #e5eff8;
				border-right: 2px solid #e5eff8;
        
      }
