<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">



   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ABSOLUTE} [%t] %-5p [%c{3}] %m%n"/>
      </layout>
   </appender>



	<appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="false"/>
		<param name="maxFileSize" value="1024000"/>
		<param name="File" value="sample.log"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>

	<!--
	<appender name="VFILE" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="false"/>
		<param name="maxFileSize" value="1024000"/>
		<param name="File" value="va.log"/>
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n" />
		</layout>
	</appender>
   -->

   <!--
	 <appender name="SOCKET" class="org.apache.log4j.net.SocketAppender">
	        <param name="Port" value="9409" />
	        <param name="RemoteHost" value="cube" />
	        <param name="ReconnectionDelay" value="5000" />
	        <param name="Threshold" value="DEBUG" />
	 </appender>
   -->

<!--
  <appender name="SOCKET" class="org.apache.log4j.net.SocketAppender">
      <param name="Port" value="4436"/>
      <param name="RemoteHost" value="localhost"/>
      <param name="ReconnectionDelay" value="60000"/>
      <param name="Threshold" value="INFO"/>
   </appender>
-->
<!--
   <category name="org.helios.tracing.aop">
     <priority value="TRACE" class="org.jboss.logging.XLevel"/>
   </category>

   <category name="org.helios.tracing.extended.introscope">
     <priority value="TRACE" class="org.jboss.logging.XLevel"/>
   </category>
-->



   <category name="org.helios.apmrouter.catalog.api.impl.DataServiceInterceptor">
      <priority value="INFO"/>
   </category>


   <category name="org.helios" >
      <priority value="INFO"/>
   </category>

   <category name="org.springframework.jmx.export.annotation">
      <priority value="WARN"/>
   </category>

   <category name="com.stumbleupon.async">
      <priority value="WARN"/>
   </category>

   <category name="org.hbase.async">
      <priority value="WARN"/>
   </category>
   
   <category name="net.opentsdb">
      <priority value="WARN"/>
   </category>
   




   <category name="org.apache.log4j">
     <priority value="FATAL"/>
   </category>

   <!--
   <category name="org.helios.apmrouter.server.tracing.virtual" additivity="true">
     <priority value="FATAL"/>
     <appender-ref ref="VFILE"/>
   </category>
   -->


  <category name="org">
     <priority value="INFO"/>
   </category>


   <category name="LOGSTASH" additivity="false">
      <priority value="DEBUG"/>
      <!-- <appender-ref ref="SOCKET"  /> -->
   </category>


   <root>
   	  <priority value="DEBUG"/>
   	  <appender-ref ref="CONSOLE"/>
   	  
   </root>


</log4j:configuration>
