	.csubscriber-on {
		background-image: url("../img/green-light-16X16.png");
		background-repeat: no-repeat;
		width: 16px; 
		height: 16px;
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: middle;
	}
	
	.csubscriber-off {
		background-image: url("../img/red-light-16X16.png");
		background-repeat: no-repeat;
		width: 16px; 
		height: 16px;
		margin: 0;
		padding: 0;
		display: inline-block;
		vertical-align: middle;
	}

	.csubscriber-retry {
		background-image: url("../img/amber-light-16X16.png");
		background-repeat: no-repeat;
		width: 16px; 
		height: 16px;
		margin: 0;
		padding: 0;
		display: inline-block;	
		vertical-align: middle;	
	}
	
	
	.ui-tooltip {
		padding: 0;
		display: inline-block;	
		vertical-align: middle;	
	}
